name = "kvpk"
main = "src/index.ts"
compatibility_date = "2025-07-12"

# enables global fetch to connect to PFPK auth in a worker in the same zone
compatibility_flags = ["global_fetch_strictly_public"]

routes = [
  { pattern = "kvpk.daodao.zone", custom_domain = true, zone_name = "daodao.zone" },
]

[[d1_databases]]
binding = "DB"
database_name = "kvpk"
database_id = "2a056764-14ea-4d7a-85be-51fe92a3f5c8"
